<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HCI.gaming</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<!-- body start -->
<body>
<!-- header start -->
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a th:href="@{/index}" class="nav-link px-2 text-white">
                        <span class="text-danger brand-text">HCI.</span>
                        <span class="text-warning brand-text">gaming</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-secondary" th:href="@{/Gallery/list}" id="navbarDropdownMenuLink"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        갤러리
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:each="gallry : ${Galleries}" th:text="${gallry.name}" th:href="@{/Gallery/{id}(id = ${gallry.id})}"></a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-secondary" th:href="@{/MinorGallery/list}" id="navbarDropdownMenuLink2"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        회원갤러리
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <li><a class="dropdown-item" th:href="@{/m-create}">게시판을 개설해보세요!</a></li>
                        <li><a class="dropdown-item" th:href="@{/MinorGallery/list}">더보기</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/champions}" class="nav-link px-2 text-secondary">챔피언분석</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">문의하기</a></li>
                <li><a th:href="@{/myPage}" class="nav-link px-2 text-secondary">마이페이지</a></li>
            </ul>
            <div class="text-end">
                <!-- 로그인 상태에 따른 버튼 표시 -->
                <div th:if="${#authorization.expression('isAuthenticated()')}">
                    <a th:href="@{/member-info/{id}(id=${#authentication.getPrincipal().id})}" class="text-white text-decoration-none me-3 hover-text-pink"><span
                            sec:authentication="name"></span> 님 =&gt;</a>
                    <a th:href="@{/logout}" class="btn btn-outline-light me-2">로그아웃</a>
                </div>
                <div th:unless="${#authorization.expression('isAuthenticated()')}">
                    <a th:href="@{/login}" class="btn btn-outline-light me-2">로그인</a>
                    <a th:href="@{/join}" class="btn btn-outline-light me-2">회원가입</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->

<!-- content start-->
<div class="container mt-5">
    <form class="custom-form" id="searchForm" action="/search" method="get">
        <label for="region" class="form-label me-2">지역</label>
        <select id="region" class="form-select">
            <option selected>Korea</option>
            <option value="1" disabled>서비스 준비중입니다....</option>
        </select>
        <label for="search" class="form-label me-2 ms-3">검색</label>
        <input id="search" type="text" class="form-control" placeholder="플레이어 이름 + #태그명">

        <!-- 숨겨진 필드 (gameName, tagLine) -->
        <input type="hidden" name="gameName" id="gameName">
        <input type="hidden" name="tagLine" id="tagLine">

        <button type="submit" class="brand-logo btn mt-3">.딸깍</button>
    </form>
    <!-- 갤러리 -->
    <div class="gallery">
        <h1>갤러리</h1>
        <hr>
        <div th:unless="${#lists.isEmpty(Galleries)}">
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
                <!-- 카드 1 -->
                <div class="col" th:each="gallery : ${Galleries}">
                    <div class="card gallery-card h-100">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 th:text="${gallery.name}"></h4>
                                <span class="creation-date" th:text="${#temporals.format(gallery.createdAt, 'yyyy-MM-dd')}"></span>
                            </div>
                            <div class="gallery-owner" th:text="'관리자: ' + ${gallery.creator?.nickName ?: '알수 없음'}"></div>
                            <p class="card-text" th:text="${gallery.description}"></p>
                            <a th:href="@{/Gallery/{id}(id=${gallery.id})}" class="btn btn-primary">갤러리로 이동</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 갤러리 끝 -->

    <!-- 회원갤러리 -->
    <div class="gallery">
        <h1>회원갤러리</h1>
        <hr>
        <div th:if="${#lists.isEmpty(MinorGalleries)}" class="text-center mt-5" style="color: #721c24">
            <h3>회원갤러리가 없습니다.</h3>
            <p>회원갤러리 만들기 버튼을 클릭하여 갤러리를 개설해보세요!</p>
            <a th:href="@{/m-create}" class="btn btn-warning mt-3">개설하러가기</a>
        </div>
        <div th:unless="${#lists.isEmpty(MinorGalleries)}">
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
                <!-- 카드 1 -->
                <div class="col" th:each="mgallery : ${MinorGalleries}">
                    <div class="card gallery-card h-100">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 th:text="${mgallery.name}"></h4>
                                <span class="creation-date" th:text="${#temporals.format(mgallery.createdAt, 'yyyy-MM-dd')}"></span>
                            </div>
                            <div class="gallery-owner" th:text="'매니저: ' + ${mgallery.creator?.nickName ?: '알수 없음'}"></div>
                            <p class="card-text" th:text="${mgallery.description}"></p>
                            <a th:href="@{/MinorGallery/{id}(id=${mgallery.id})}" class="btn btn-primary">갤러리로 이동</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 회원갤러리 끝 -->
</div>
<!-- content end-->

<!-- Footer -->
<footer class="text-center bg-dark">
    <p>Copyright © 2024 HCI. gaming. All rights reserved.</p>
</footer>
<!-- Footer end -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/index.js"></script>
</body>
<!-- body end -->

</html>
