body {
    background-color: #f8f9fa;
}

h1, h2 {
    color: #343a40;
}

.table {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
}

.table th, .table td {
    vertical-align: middle;
    text-align: center;
}

.table th {
    background-color: #343a40;
    color: #ffffff;
}

.btn {
    border-radius: 20px;
}

.modal-header, .modal-footer {
    border: none;
}

.modal-title {
    color: #343a40;
}

.btn-home {
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
}

.btn-placeholder {
    width: 100px; /* 홈 버튼과 동일한 너비로 조정 */
}
