body {
    background-color: #2E2E2E;
}

.header {
    padding: 1rem;
    color: white;
    text-align: left;
}

.gallery-name {
    color: white;
    background-color: #3b0325;
    display: inline-block;
}

.gallery-header {
    border-bottom: 1px solid white;
}

.sub-menu {
    background-color: #03103b;
    color: white;
    padding: 0.5rem 0;
    text-align: center;
    font-size: 0.875rem;
}

.sub-menu a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

.sub-menu a:hover {
    text-decoration: underline;
}

.sub-menu .dropdown-menu {
    background-color: #03323b;
}

.sub-menu .dropdown-menu a {
    color: white;
}

.sub-menu .dropdown-menu a:hover {
    background-color: #162c72;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.gallery-info {
    text-align: right;
    color: #ddd;
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

.gallery-info span {
    display: inline-block;
    margin-left: 1rem;
}

/* 게시글 작성 양식 스타일 */
.post-form-container {
    background-color: #e2d8e2;
    border-radius: 10px;
    padding: 2rem;
    margin-top: 2rem;
    color: white;
}

.post-form-container h3 {
    margin-bottom: 1rem;
    color: black;
}

.form-label {
    color: black;
}

.form-control {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.form-control:focus {
    box-shadow: 0 0 8px rgba(255, 235, 59, 0.5);
    outline: none;
}

.btn-primary {
    background-color: #6a04f0;
    border: none;
    border-radius: 30px;
    padding: 0.75rem 1.5rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
    background-color: #5202c9;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.btn-file-upload {
    background-color: #6a04f0;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
}

.btn-file-upload:hover {
    background-color: #5202c9;
}