/* Global Styles */
body {
    background-color: #2E2E2E;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
}

.header {
    padding: 1rem;
    color: white;
    text-align: left;
}

.nav-link .brand-text {
    font-size: 1.5rem;
    line-height: 1.2;
}

.sub-menu {
    background-color: #03103b;
    color: white;
    padding: 0.5rem 0;
    text-align: center;
    font-size: 0.875rem;
}

.sub-menu a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

.sub-menu a:hover {
    text-decoration: underline;
}

.sub-menu .dropdown-menu {
    background-color: #03323b;
}

.sub-menu .dropdown-menu a {
    color: white;
}

.sub-menu .dropdown-menu a:hover {
    background-color: #162c72;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

/* Sidebar Styles */
aside {
    position: fixed;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    width: 200px;
    color: #fff;
}

.list-group-item {
    background-color: #2E2E2E;
    color: #fff;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

.list-group-item.active {
    background-color: #800080;
    border-color: #800080;
    color: #fff;
}

/* Content Section Styles */
.content-section {
    margin-bottom: 50px;
    background-color: #2E2E2E;
    border: none;
    padding: 20px;
}

h4 {
    color: #ff4500;
    border-bottom: 2px solid #ffa500;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Footer Styles */
footer {
    text-align: center;
    color: white;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
}

.myPageInfo {
    color: white;
    display: flex;
    align-items: center;
    width: 80%; /* 고정된 너비 */
    box-sizing: border-box;
}

.myPageInfo2 {
    color: white;
    display: flex;
    align-items: center;
    width: 100%; /* 고정된 너비 */
    box-sizing: border-box;
}

.myPageInfo2:hover {
    color: red;
}

.gallery-name {
    margin-right: 10px; /* 두 span 사이의 간격 */
}

.gallery-date {
    margin-left: auto; /* 오른쪽으로 밀어내어 자동으로 간격 조정 */
}

.myPageInfo:hover {
    color: red;
}

/* 모달 제목 색상 */
.modal-title {
    color: #000; /* 검정색 */
}

/* 모달 본문 텍스트 색상 */
.modal-body {
    color: #000; /* 검정색 */
}

/* 폼 레이블 색상 */
.form-label {
    color: #000; /* 검정색 */
}